<h4> Add the batch here </h4>

<%= form_for([@material, @batch]) do |f| %>
  <%= f.hidden_field :user_id, :value => current_user.id %>
  <%= f.hidden_field :material_id, :value => params[:material_id] %>
  <%= f.label :name %>
  <%= f.text_field :name %><br>
  <%= f.label :color %>
  <%= f.text_field :color %><br>
  <%= f.label :size %>
  <%= f.text_field :size %><br>
  <%= f.label :quantity %>
  <%= f.text_field :original_quantity %><br>
  <%= f.label :total_cost %>
  <%= f.text_field :total_cost %><br>
  <%= f.label :purchase_date %>
  <%= f.text_field :purchase_date, 'data-provide' => 'datepicker' %><br>
  <%= f.label :cost_per_piece %>
  <%= f.text_field :cost_per_piece %><br>
  
  <%= f.submit %>
<% end %>