<h1>Add a new material:</h1>
<h5>(IE. gold chains, silver chains, whole products, gold charms, etc.)</h5>

<%= form_for(@material) do |f| %>
  Name: <%= f.text_field :name %><br>
  Color: <%= f.text_field :color %><br>
  Size: <%= f.text_field :size %><br> <br>
  
  <%= f.submit %>
<% end %>