<%= form_for(@product) do |f| %>
<%= f.hidden_field :user_id, :value => current_user.id %>
Name: <%= f.text_field :name %><br>
Price: <%= f.text_field :price %><br>

Selecting the materials 
<div id="materials">
  <div class="materialAdditions">
    <%= render partial: 'materials_form', locals: {f: f} %>
  </div>
</div>

<p><%#= link_to_add_fields "Add Answer", f, :answers %></p>

<button id="addNewMaterial">Add New Material</button>

<br>

<!-- <div class="hide" id="new_materials_form">
  <%#= render partial: "materials_form", locals: {f: f} %>
</div> -->

<%= f.submit :id => "productSubmit" %>
<% end %>