<!DOCTYPE html>
<html>
<head>
  <title>ProfitManagement</title>
  <script src="https://use.typekit.net/bdn1dyz.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render partial: 'layouts/header' %>

  <% unless current_page?(root_path) || !user_signed_in? %>
    <%= render partial: 'layouts/sidebar' %>
  <% end %>
  
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
  <% end %>

  <% if current_page?(root_path) %>
    <%= yield %>
  <% else %>
    <div class="content">
      <%= yield %>
    </div>
  <% end %>
</body>
</html>
